body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: verdana;
  background: rgb(22, 26, 38);
  background: white;
  background: rgba(28, 227, 167, 0.063);
}
a {
  text-decoration: none;
  cursor: pointer !important;
  color: inherit;
  color: #1CE3A8;
}

* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}



/* GLOBAL STYLES */

.green{
  color: #8CC63E;
  color: rgb(28, 227, 168);
}
.strongGreen{
  color: #376800;
  color: rgb(22, 26, 38);
}
.red{
  color: red !important;
}
.white{
  color: white !important;
}
.blue{
  color: blue !important;
}
.big{
  transform: scale(2) !important;
}
.bold{
  font-weight: bolder;
  color: rgb(13, 103, 78);
}




/*END OF GLOBAL STYLES*/



#headerNavigation{
  z-index: 999;
  margin: 0;
  background: none;
}
header{
  width: 100%;
  margin: 0 0;
  background: rgba(255, 255, 255, 0.15);
  color: rgb(42, 47, 68);
  border-radius: 2px;
}
header nav{
  display: flex;
  justify-content: space-around;
}
.headerSectionOne{
  font-size: 25px;
  position: relative;
  font-weight: bolder;
  font-family: cambria;
}
.headerSectionTwo ul{
  list-style-type: none;
}
.headerSectionTwo ul li{
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.headerSectionTwo ul li a{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.headerSectionTwo ul li a:hover{
  color: rgb(28, 227, 168);
}
.menuIcon{
  font-size: 20px;
  transition: 0.2s;
  color: white;
}
.menuIcon:hover{
  transform: scale(1.3);
  cursor: pointer;
  color: #8CC63E;
}
.stickyMemberRequest{
  position: fixed;
  right: 1%;
  top: 17%;
  font-weight: bolder;
  font-size: 15px;
  border: 3px solid #8CC63E;
  padding: 3px;
  background-color: white;
  color: #8CC63E;
  cursor: pointer;
  display: none;
}


/* END OF HEADER STYLING */

/* HOME BACKGROUND VIDEO AND IT'S CONTENT */

.videoBackgroundDivision{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: -999;
}
.videoGradient{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  background: #8bc63e3f;
  background: rgb(42, 47, 68);
  background: rgba(42, 47, 68, 0.5);
}
.videoBackgroundDivision video{
  width: 100%;
}
.videoTopContent{
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  font-family: cambria;
}
.videoTopContent section{
  margin: auto;
  display: table;
  text-align: center;
}
.videoTopContent section h3{
  font-size: xxx-large;
  text-transform: uppercase;
}
.videoTopContent section p{
  font-family: cursive;
  text-transform: uppercase;
}
.videoTopContent section div a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10% 30%;
  background: #1CE3A8;
  display: table;
  margin: 10% auto;
  padding: 10px;
  transition: 0.2s;
}
.videoTopContent section div a:hover{
  color: #8CC63E;
  background: white;
}



/* END OF HOME BACKGROUND VIDEO AND IT'S CONTENT */




/*HOME NEXT CONTENT */



.nextHomeContent{
  /* grid-auto-rows: min-content; */
  position: absolute;
  top: 100%;
}




/*HOME NEXT CONTENT */



/* ABOUT */


.aboutDivision{
  margin: 5% 2%;
  position: relative;
}
.aboutDivision::before{
  content: url('../public/svg/bgdrawingone.svg');
  position: absolute;
  z-index: -9999;
  top: -25%;
  left: -23%;
  display: none;
}
.aboutDivision h1{
  margin-left: 3%;
}
.bgdrawingone{
  position: absolute;
  z-index: -9999;
  right: -10%;
  top: -6%;
}
.aboutSections{
  display: flex;
  flex-wrap: wrap;
}
.aboutSectionOne{
  width: 70%;
}
.aboutSectionTwo{
  width: 30%;
}
.aboutSectionTwo img{
  width: 100%;
}
.goToMainAbout a{
  border-radius: 10% 30%;
  background: #1CE3A8;
  display: table;
  padding: 8px;
  font-size: larger;
}
.goToMainAbout a:hover{
  color: white;
  background: rgb(22, 26, 38);
  transition: 0.3s;
}


/*END OF ABOUT*/




/*ABOUT PAGE*/



.aboutContent{
  padding: 5% 5%;
}





/*END OF ABOUT PAGE*/



/*ADMINISTRATION*/


.administrationBoxes{
  display: flex;
  flex-wrap: wrap;
  padding: 0 1%;
  justify-content: space-around;
}
.singleAdminBox{
  width: 45%;
  box-shadow: 3px 3px 5px black;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.519);
}
.singleAdminBox .adminImageSection {
  position: relative;
  justify-content: center;
  align-content: center;
  width: 20%;
}
.singleAdminBox .adminImageSection img{ 
  top: 50%;
  left: 50%;
  border-radius: 50%;
}






/*END OF ADMINISTRATION*/






/*ISOMO QUESTIONS */


.questions{
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
}
.singleQuestion{
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 3px 3px 10px black;
  background: white;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto;
}
.singleQuestion h3{
  color: rgb(22, 26, 38);
  padding-bottom: 5%;
  border-bottom: 2px solid black;
}


/*END OF ISOMO QUESTIONS */

/*LATEST POSTS*/


.latestEvents{
  padding: 5% 0;
  background: rgb(246, 248, 255);
  background: url('../public/communitywork/recroped.jpeg');
  background-size: cover;
  background-attachment: fixed;
}
.latestEvents h2{
  margin: 3% auto;
  border-bottom:3px solid black;
  border-radius:20px;
  font-size:30px;
  display:block;
  text-align:left;
  display:table;
  padding:5px 15px;
}
.eventsBoxes{
  display: flex;
  flex-direction: column-reverse;
}
.singleEvent{
  width: 75%;
  box-shadow: 3px 3px 5px black;
  border-radius: 10px;
  object-fit: contain;
  padding: 1%;
  margin: 1% auto;
  background: white;
}
.singleEvent a{
  color: inherit;
}
.eventContent{
  display: flex;
  flex-wrap: wrap;
}
.eventContentOne{
  width: 75%;
  margin: 0 2%;
}
.eventContentOne small{
  color: gray;
}
.eventContentTwo{
  width: 20%;
}
.eventImageContainer{
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}



/*END OF LATEST POSTS*/




/* FOOTER */


footer{
  width: 100%;
    padding: 1% 5%;/* 
    border: 1px solid rgb(199, 239, 227); */
  box-shadow: 3px 3px 20px rgb(22, 26, 38);
  background: rgb(22, 26, 38);
  color: white;
  font-family: cambria;
}
#mainFooterDiv{
  display: flex;
  justify-content: space-between;
}
#footerNameContainer{
  font-size: 30px;
  font-family: cambria;
}
.footerHeadingUnderline{
  width: 50px;
  height: 5px;
  background: rgb(28, 227, 168);
  display: block;
  border-radius: 10px;
  margin-top: -15px;
}
footer a{
  color: rgb(195, 195, 195);
  font-weight: lighter;
  position: relative;
  font-family: cambria;
}
.latestnews a::before, .usefullinks a::before{
  content: url('../public/svg/footerlistbefore.svg');
  position: absolute;
  left: -10%;
  top: 1%;
  width: 20px;
}



/*END OF FOOTER STYLING */


/*BLOG DETAILS */


/* .blogParent{
  background: #8bc63e4c;
} */
.navBackground{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 11%;
  background: rgb(22, 26, 38);
  z-index: -999;
}
.blogParent .headers{
  text-align: center;
}
.blogParent .headers h2{
  font-family: cambria;
  font-size: xx-large;
}
.blogParent .headers small{
  color: #376800;
  margin-top: -5%;
}
.blogParent .headers small i{
  margin-top: -5%;
}
.blogContent{
  padding: 0 5%;
}
.blogParent img{
  width: 100%;
}
.blogContentFlexOne{
  display: flex;
  flex-wrap: wrap;
}
.blogContentFlexOne p{
  width: 70%;
  justify-content: space-between;
}
.blogContentFlexOne img{
  width: 25%;
}
.twoImages{
  display: flex;
}
.twoImages img{
  width: 50%;
}
.memoriesImages{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.memoriesImages img{
  width: 40%;
  margin: 2% 0;
  color: rgb(42, 47, 68);
}
.memoriesVideos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.memoriesVideos video{
  width: 30%;
  margin: 0 3%;
  height: 100%;
}



/*END OF BLOG DETAILS */



/*JOINING REQUEST*/



.joinUs{
  padding: 5% 5%;
}
.joinUs button{
  width: 80%;
  margin: auto;
  display: table;
  font-size: 20px;
  background: rgb(28, 227, 168);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: 0.2s;
}
.joinUs button:hover{
  background: rgb(22, 26, 38);
  transform: scale(1.1);
}





/*END OF JOINING REQUEST*/





/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  .singleAdminBox section{
    width: 100% !important;
  }
  .singleAdminBox .adminImageSection .imageContainer{
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .eventContentOne, .eventContentTwo{
    width: 100%;
  }
  .eventImageContainer{
    margin-top: 0;
    margin-left: 0;
    transform: translate(0);
  }
  .eventImageContainer img{
    height: 200px !important;
    width: inherit;  
  }
  .questions{
    justify-content: space-around;
  }
  .singleQuestion{
    width: 70%;
    margin: 1% 0;
  }
}





/*END OF MEDIA QUERIES*/


/*MATERIALIZE COPY*/



.input-field input {
  height: 100%;
  border: none;
  padding-left: 5px !important;
}

nav .input-field label {
  top: 0;
  left: 0;
}

nav .input-field label i {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav .input-field label.active i {
  color: #fff;
}
